@keyframes blink {

  from,
  to {
    background-color: transparent;
  }

  50% {
    background-color: red;
  }
}

.editor-caret {
  height: 22px;
  width: 2px;
  background-color: red;
  position: absolute;
  animation: blink 1s ease-in-out infinite;
  pointer-events: none;
}

.editor-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0px;
}